<html>
    <head>
        <title> blog page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
   
    </head>
    <body>
            <div class="ui secondary pointing menu">
                    <a class="active item" href="/blogs"><i class="file code outline icon"></i>
                     Blog Site
                    </a>
                    <a class="item">
                      Home
                    </a>
                    <a class="item" href="/blogs/new">
                      New Post
                    </a>
                    <div class="right menu">
                      <a class="ui item">
                        Logout
                      </a>
                    </div>
                  </div>
        
    